{% extends 'site.html' %}

{% block content %}

<h2>
    Deltagelse i interview?
</h2>

<p>
    Vi søger desuden deltagere til at medvirke i et uddybende interview
    omkring frokostmåltidet på arbejdspladsen. Interviewet vil tage
    udgangspunkt i din oplevelse af frokostmåltidet, og hvilken betydning
    det har for dig og din arbejdsdag.
</p>
<p>
    Du vil selvfølgelig modtage en lille belønning indeholdende noget
    lækkert til ganen som tak for din tid og deltagelse i interviewet.
</p>

<p>
    Interviewene vil finde sted på Nordjyske Medier i uge 48 og 49 (24. november til 2. december).
</p>

<p>
    Hvis du har lyst til at deltage, bedes du skrive til nedenstående mail, hvorefter vi finder en dato og tidspunkt der passer dig.
</p>
<p>
    Kontaktperson: <span style="color: #800000; font-weight: bold;">
        Laura Glavind
    </span> <br />
    E-mail: <a href="mailto:lauraglavind88@hotmail.com">lauraglavind88@hotmail.com</a><br />
    Telefon: 26 39 19 88
</p>

{% endblock %}