{% extends 'site.html' %}

{% block content %}

<h2>
    Om os
</h2>

<p>
    Vi hedder Anne Erichsen og Laura Glavind og er specialestuderende på Sociologisk Institut ved Københavns Universitet. Vi er i gang med at skrive vores kandidatspeciale omhandlende frokostmåltidet på arbejdspladsen. Vi forventer at aflevere at aflevere vores speciale d. 1. marts.
</p>

<p>
    <span style="color: #800000; font-weight: bold;">
        Anne Erichsen:
    </span>
    <br />
    Kandidat: Sociologi, Københavns Universitet (Marts 2016)<br />
    Bachelor: Sociologi, Aalborg Universitet
</p>

<p>
    <span style="color: #800000; font-weight: bold;">
        Laura Glavind:
    </span>
    <br />
    Kandidat: Sociologi, Københavns Universitet (Marts 2016)<br />
    Bachelor i Europæisk Etnologi, Københavns Universitet
</p>

{% endblock %}