{% extends 'site.html' %}

{% block content %}
<h2>
    Spørgeskema
</h2>
<p>
    Kære medarbejder. Vi håber du vil bruge cirka 2 minutter på at udfylde vores spørgeskema. Klik på linket i det nedenstående og udfyld derefter spørgeskemaet.
</p>
<p>
    Spørgeskemaet omhandler frokostmåltidet på Nordjyske Medier. Spørgeskemaet handler om, hvad du spiser til frokost, hvor du spiser din frokost og hvem du spiser den med.
</p>

<p id="skema">
    <a href="https://www.survey-xact.dk/LinkCollector?key=ZPY55V7MC59P">
        Klik her for at tilgå spørgeskemaet
    </a>
</p>
{% endblock %}